*{
	box-sizing: border-box;
}

 
 :root {
 	--colr1: #D86584
 }
	body {
	margin: 0;
	font-family : 'Times New Roman', Times, serif;
	}
	div.cover {
	/*background : url(bandeautrans.png) no-repeat center/100% 100%,url(baniere.png) no-repeat center/cover;*/
	background : url(baniere.png) no-repeat center/cover;

	height : 360px;
	}
	img.imglogo {
		height : 100px;
		display : block;
		margin-left: auto;
		margin-right: auto;
		
	}
	/*h1 {
		color: black;
		text-align: center;
		font-size: 25px;
		margin-top: 10px;
		margin-bottom: 0px;

	} */
	p {
		color: black;
		text-align: center;
		font-size: 20px;
		margin-top: 10px;
		margin-bottom: 0px;

	}
	div.cover p {
		color: lightgray;
		text-align: center;
		margin-top: 5px;
		font-size:14px;
		}
	div.coverContact {
		/*ackground:#FF000080; */
		position : absolute;
		top: 10px;
		top: 10px;
		border-left: 4px solid var(--colr1);
		padding-left: 8px;
		font-size: 14px;

		}
		a.btn-contacts {
		color: white;
		border: 3px solid #db1a0b;
		padding: 8px 20px;
		text-decoration: none;
		background-color: #db1a0b;
		display: inline-block;
		margin-top: 15px;
		font-size:18px;
		position: relative;
		
		}
		a.btn-contacts:hover {
		color:white;
		border: 3px solid #3a4f6e;
		border-color: #3a4f6e;
		font-size:18px;
		}

	
	div.coverContact p{
		text-align : left;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	div.coverContact p:first-child{
	margin-bottom: 14px;	
	}
	div.coverContact a{
		color: white;
		font-size:14px;

	}
	div.Section1{
		border-top:5px solid #07adb9;
		text-align: center;
		background-color:#db1a0b;
		height:100px;
		
		display: flex;
		flex-direction: row;
		overflow: auto;
	}
	nav{
		width: 100%;
		background-color:#424558;
	
	}
	nav ul{
		margin: 0px;
		padding: 0px;
	}
	
	nav li{
		list-style-type: none;
		float: left;
		font-size: 20px;
	
	}
	nav a{
		display: inline-block;
		text-decoration: none;
		padding: 20px 30px;
		color: #FFF;
		text-transform: uppercase;
		font-size: 20px;
	
	}
	.table{
		display: table;
		margin: 0 auto;
	}
	
	.menu-dev:hover{
		border-top: 5px solid #44d26f;
		background-color: rgba(64,200,130,0.15);
	
	}
	.menu-cablage:hover, .contact{
		border-top: 5px solid #44d26f;
		background-color: rgba(64,200,130,0.15);
	
	}
	.menu-maintenance:hover, .Commercialisation{
		border-top: 5px solid #44d26f;
		background-color: rgba(228,77,38,0.15);
	
	}
	.menu-boutiq:hover, .Commercialisation{
		border-top: 5px solid #44d26f;
		background-color: rgba(228,77,38,0.15);
	
	}
	nav li:hover a{
		padding: 15px 30px 20px 30px;
	}
	









	.slider{
		width:100%;
		position: relative;
		overflow: hidden;
	}


	.contents{
		display: flex;
		flex-direction: row;
	}
	.content{
		width:100%;
		/*display:flex;*/
		flex: 1 0 100%;
		justify-content: center;
		display: inline-block;
    	position: relative;

	}
	.content>img {
		width: 100%;
		
		height : 500px;
	}
	.right,
	.left{
		position:absolute;
		top:250px;
		font-size:5rem;
		transform: translateY(-50%);
		cursor: pointer;
	}
	.right{
		right:20px;
	}
.content .textslider{
	background: rgba(rgb(123, 140, 219), green, blue, alpha)
    z-index: 1;
    position: absolute;
    text-align:left;
    font-family: Georgia;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    color: white;
    width: 70%;

}


.Section2{
	border-top:5px solid #07adb9;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
	overflow: auto;
	background : url(fonddfff.png) no-repeat center/cover;
	
}
.Section2 h2{
	text-align: center;
	color: white;
	
}
.Section2 p{
	color: white;
	text-align: left;
}

.col40{
	width: 40%;

}
.col60{
	width: 60%;

}

.float-right{
	float: right;
}

div.pavecligneverti{
	border-left: 5px solid #a14b4b;
	padding-left: 8px;
	height: 50px;
	display: inline-block;
}
div.pavecligneverti p{
	margin-top: 0px;
	
}

div.bareverticall{
	height: 50px;
	width: 4px;
	background-color: #a14b4b;
	margin-right: 8px;
}
.colPortfolio{
	width: 48%;
}
.section3 h2{
	color: #07adb9;
	text-align: center;
	font-size: 30px;
	font-family: 'Times New Roman', Times, serif;
	
}

.SectionF{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
	/*background-color:#673de5;*/
	background : url(fonddf.jpg) no-repeat center/cover;
}
.SectionF h2{
text-align: center;
text-decoration: solid;
text-shadow: #a14b4b;
}
.fram{
	margin: 30px 50px;
	padding: 20px 30px;
	background-color: white;
	box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
}
.newleter{
	border-top:5px solid #1f1f1f;
		text-align: center;
		background-color:#38c5e0;
		height:auto;
		
}

.contacts{
	border-top:5px solid #1f1f1f;
		text-align: center;
		background-color:#1f1f1f;
		height:100px;
		display: flex;
		flex-direction: row;
		overflow: auto;
	
}

.copyright{
	border-top:5px solid #121212;
		text-align: center;
		background-color:#161616;
	height: 66px;
		
	}

.col35{
	width: 35%;
	text-decoration: none;
	overflow: hidden;

		}

		.col35 a{
			color: white;
			text-decoration: none;
		}
			
.copyright p{
color: white;
font-size: 15px;
}			


/* For mobile phones: */
@media only screen and (max-width: 768px) {
	.content>img {
		width: 100%;
		
		height : 500px;
	}
	.right,
	.left{
		position:absolute;
		top:250px;
		font-size:5rem;
		transform: translateY(-50%);
		cursor: pointer;
	}
	.right{
		right:20px;
	}
.content .textslider{
	background: rgba(rgb(123, 140, 219), green, blue, alpha)
    z-index: 1;
    position: absolute;
    text-align:left;
    font-family: Georgia;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    color: white;
    width: 70%;

}

	
  }